# Ansible runtime and backups
*.original
*.tmp
*.bkp
*.retry
*.*~

# # Try tyo avoid any plain-text passwords
*pwd*
*password*
*pass.txt
*secret*

# Exclude all binaries
*.bin
*.jar
*.tar
*.zip
*.gzip
*.tgz
